{% extends "base.html" %} {% block content %}
<div class="container bg-light mt-3 mb-2 pb-2">
  <div class="form-group">
    <a class="btn btn-success mt-2 float-right" data-toggle="modal" data-target="#catModal"><i class="fa fa-plus" aria-hidden="true"></i></a>
  </div>
  <div class="form-group pt-2">
    {% for category in all_categories %}
    <div class="pt-1">
      <a class="btn btn-info btn-sm m-1" data-toggle="modal" data-target="#catEditModal_{{category.CategoryId}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
      <a class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#catDeleteModal_{{category.CategoryId}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
      <a class="article-title font-weight-bold ml-3" href="{{ url_for('categories.category_books', Name=category.Name) }}">{{ category.Name }}</a>
    </div>
    {% block modals %} 
    {% include "_modals_book.html" %} 
    {% endblock %} 
    {% endfor %}
  </div>
</div>
{% endblock content %}
