{% extends "base.html" %} {% block content %}
<div class="container bg-light mt-3 mb-2 pb-2">
  <div class="form-group">
    <a class="btn btn-success mt-2 float-right" href="{{ url_for('categories.add_category') }}"><i class="fa fa-plus" aria-hidden="true"></i></a>
  </div>
  <div class="form-group pt-2">

    {% for category in all_categories %}
    <div class="pt-1">
      <a class="btn btn-info btn-sm m-1" href="{{ url_for('categories.edit_category', category_id=category.CategoryId)}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
      <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash" aria-hidden="true"></i></button>
      <a class="article-title font-weight-bold ml-3" href="{{ url_for('categories.one_category', category_id=category.CategoryId) }}">{{ category.Name }}</a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title label label-default" id="deleteModalLabel">Delete Category?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('categories.delete_category', category_id=category.CategoryId) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
