{% extends "base.html" %} {% block content %}
<div class="container bg-light mt-3 mb-2 pb-2">
  <div class="form-group">
    <a class="btn btn-success mt-2 float-right" data-toggle="modal" data-target="#catModal"><i class="fa fa-plus" aria-hidden="true"></i></a>
  </div>
  <div class="form-group pt-2">
    {% for category in categories %}
    <div class="pt-1">
      <a class="btn btn-info btn-sm m-1" data-toggle="modal" data-target="#catEditModal_{{category.CategoryId}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
      <a class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#catDeleteModal_{{category.CategoryId}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
      <a class="article-title book-links font-weight-bold ml-3" href="{{ url_for('categories.category_books', Name=category.Name) }}">{{ category.Name }}</a>
    </div>
    <!-- Edit Category Modal -->
    <div class="modal fade" id="catEditModal_{{category.CategoryId}}" tabindex="-1" role="dialog" aria-labelledby="edit-{{ category.Name }}-Label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-light">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold" id="edit-{{ category.Name }}-Label">Edit Category</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
          </div>
          <div class="modal-body">
            <form class="text-left border border-light p-1" method="POST" action="{{ url_for('categories.edit_category', category_id=category.CategoryId) }}">
              {{ form_cat.hidden_tag() }}
              <div class="form-group">
                <span class="input-group-addon"><i class="fa fa-print" aria-hidden="true"></i></span> {{ form_cat.Name.label(class="form-control-label") }}
                <div class="input-group">
                  {% if form_cat.Name.errors %} {{ form_cat.Name(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form_cat.Name.errors %}
                    <span class="text-danger">
                        {{ error }}
                        </span> {% endfor %}
                  </div>
                  {% else %} {{ form_cat.Name(class="form-control mb-1") }} {% endif %}
                </div>
                <div class="form-group">
                  <p class="item-intro text-muted">Edit the <strong>{{ category.Name }}</strong> name</p>
                </div>
              </div>
              <div class="form-group">
                {{ form_cat.submit(class="btn btn-info btn-block") }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Modal -->
    <!-- Delete Category Modal -->
    <div class="modal fade" id="catDeleteModal_{{category.CategoryId}}" tabindex="-1" role="dialog" aria-labelledby="delete-{{ category.Name }}-Label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-light">
          <div class="modal-header text-center">
            <h5 class="modal-title label label-default" id="Delete-{{ category.Name }}-Label">Delete Category?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
          </div>
          <div class="modal-body">
            <h6 class="modal-title w-100 font-weight-bold">These books will be deleted as well from database.</h6>
            <ul class="list-inline">
            {% for book in category.books %}
            <hr>
            <li>{{ book.title }}</li>
            {% endfor %}
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form  method="POST" action="{{ url_for('categories.delete_category', category_id=category.CategoryId) }}">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Modal -->
    {% endfor %}
  </div>
</div>
{% endblock content %} {% block modals %} {% include "category/_add_category.html" %} {% endblock %}
