{% extends "base.html" %} {% block content %}
<div class="container bg-light mt-3 mb-2 pb-2">
    <div class="form-handler">
        <form class="text-left border border-light p-5" method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                <h2 class="mb-4 text-center">{{ legend }}</h2>
                <p class="item-intro text-muted text-center">Please add book cover full link address.</p>
                <!-- Book Title -->
                <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-book" aria-hidden="true"></i></span> {{ form.title.label(class="form-control-label font-weight-bold") }}
                    <div class="input-group">
                        {% if form.title.errors %} {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                            <span class="text-danger">
                        {{ error }}
                        </span> {% endfor %}
                        </div>
                    </div>
                    {% else %} {{ form.title(class="form-control mb-4") }} {% endif %}
                </div>
                <!-- Year Published -->
                <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-calendar " aria-hidden="true"></i></span> {{ form.year.label(class="form-control-label font-weight-bold") }}
                    <div class="input-group">
                        {% if form.year.errors %} {{ form.year(class="form-control form-control-lg is-invalid") }}

                        <div class="invalid-feedback">
                            {% for error in form.year.errors %}
                            <span class="text-danger">
                        {{ error }}
                        </span> {% endfor %}
                        </div>
                    </div>
                    {% else %} {{ form.year(class="form-control mb-4") }} {% endif %}
                </div>
                <!-- Book cover URL -->
                <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-file-image-o  " aria-hidden="true"></i></span> {{ form.book_cover.label(class="form-control-label font-weight-bold") }}
                    <div class="input-group">
                        {% if form.book_cover.errors %} {{ form.book_cover(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.book_cover.errors %}
                            <span class="text-danger">
                        {{ error }}
                        </span> {% endfor %}
                        </div>
                    </div>
                    {% else %} {{ form.book_cover(class="form-control mb-4") }} {% endif %}
                </div>
                <!-- Book description -->
                <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-file-text " aria-hidden="true"></i></span> {{ form.description.label(class="form-control-label font-weight-bold") }}
                    <div class="input-group">
                        {% if form.description.errors %} {{ form.description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                            <span class="text-danger">
                        {{ error }}
                        </span> {% endfor %}
                        </div>
                    </div>
                    {% else %} {{ form.description(class="form-control mb-4") }} {% endif %}
                </div>
                <!-- Categories -->
                <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-archive " aria-hidden="true"></i></span> {{ form.category.label(class="form-control-label font-weight-bold") }}
                    <div class="input-group">
                        {{ form.category (class="browser-default custom-select mb-4") }}
                        <span class="input-group"><a type="button" class="badge badge-warning"  data-toggle="modal" data-target="#catModal">New Category</a></span>
                    </div>
                </div>
                <!-- Publishers -->
                <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-print" aria-hidden="true"></i></span> {{ form.publisher.label(class="form-control-label font-weight-bold") }}
                    <div class="input-group">
                        {{ form.publisher (class="browser-default custom-select mb-4")}}
                        <span class="input-group "><a type="button" class="badge badge-warning" data-toggle="modal" data-target="#publisherModal">New Publisher</a> </span>
                    </div>
                </div>
                <!-- Authors -->
                <div class="form-group">
                    <span class="input-group-addon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span> {{ form.author.label(class="form-control-label font-weight-bold") }}
                    <div class="input-group">
                        {{ form.author (class="browser-default custom-select mb-4")}}
                        <span class="input-group"><a type="button" class="badge badge-warning" data-toggle="modal" data-target="#authorModal">New Author</a></span>
                    </div>

                </div>
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary btn-block") }}
            </div>
        </form>
    </div>
</div>
{% endblock %} {% block modals %}

{% include "author/add_author.html" %} 
{% endblock %}
