{% extends "base.html" %} 
{% block content %}
<div class="container mt-3 mb-2 pt-5 pb-2 bg-light">
  <div class="row">
    <div class="col-lg-4 mx-auto">
      <img class="img-fluid d-block mx-auto" src="{{ book.book_cover }}" alt="Book Cover">
       {% if current_user.is_authenticated %}
      <div class="mt-2 ml-2">
        <form method="POST" action="" novalidate="novalidate">
          <div class="form-group">
            {{ form.lists (class='btn btn-secondary dropdown-toggle') }}
          </div>
          <div class="form-group">
            <a class="badge badge-warning" data-toggle="modal" data-target="#readinListModal">Add New List</a>
          </div>
          <div class="form-group">
            {{ form.submit(class="btn btn-info btn-block") }}
          </div>
        </form>
      </div>
       {% endif %}
    </div>
    <div class="col-lg-8 ">
      <h2 class="text-uppercase">{{ book.title }}</h2>
      <hr> {% for author_list in book.authors %}
      <p class="list-inline mb-0">By author : <a class="mr-2 book-links" href="{{ url_for('authors.author_books', full_name=author_list.full_name) }}">{{ author_list.full_name }}</a> </p>
      {% endfor %}
      <p class="list-inline mb-0">Publisher : <a class="mr-2 book-links" href="{{ url_for('publishers.publisher_books', Name=book.publisher.Name) }}">{{ book.publisher.Name }}</a></p>
      <p class="list-inline mb-0">Category : <a class="mr-2 book-links" href="{{ url_for('categories.category_books', Name=book.category.Name) }}">{{ book.category.Name }}</a>
      </p>
      <p class="list-inline ">Publication date : {{ book.year }}
      </p>
      <p class="list-inline">{{ book.description }}</p>
       {% if current_user.is_authenticated %}
      <div class="float-right">
        <a class="btn btn-info btn-sm m-1" href="{{ url_for('books.edit_book', book_isbn=book.isbn) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash" aria-hidden="true"></i></button>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title label label-default" id="deleteModalLabel">Delete Book?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('books.delete_book', book_isbn=book.isbn) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block modals %} {% include "reading_list/add_readinglist.html" %} {% endblock %}
