.content-wraper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/body-bg.jpg") !important;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.portfolio-link {
    color: #00887A;
    text-decoration: none;
}

.portfolio-link:hover {
    color: #03685D;
    text-decoration: none;
}

.book-links {
    color: #00887A;
    text-decoration: none;
}

.book-links:hover {
    color: #03685D;
    text-decoration: none;
}

ul.list-inline>hr:not(:first-child) {
    margin: 0.25rem 0;
}