.content-wraper {
    background-image: url("../img/body-bg.jpg") !important;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

