<!-- Publisher Modal -->
<div class="modal fade" id="readinListModal" tabindex="-1" role="dialog" aria-labelledby="readingListModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" id="readingListModalLabel">Add New Reading List</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-handler">
                    <form class="text-left border border-light p-1" method="POST" action="{{ url_for('readinglists.add_readinglist') }}">
                        {{ form_list.hidden_tag() }}
                        <div class="form-group">
                            <span class="input-group-addon pb-2"><i class="fa fa-print" aria-hidden="true"></i></span> {{ form_list.ListName.label(class="form-control-label") }}
                            <div class="input-group">
                                {% if form_list.ListName.errors %} {{ form_list.ListName(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_list.ListName.errors %}
                                    <span class="text-danger">
                        {{ error }}
                        </span> {% endfor %}
                                </div>
                            </div>
                            {% else %} {{ form_list.ListName(class="form-control mb-4") }} {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form_list.submit(class="btn btn-info btn-block") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
 