{% extends "base.html" %} {% block content %}
<div class="container bg-light mt-3 mb-2 pb-2">
  <div class="form-group">
    <a class="btn btn-success mt-2 float-right" href="{{ url_for('readinglists.add_readinglist') }}"><i class="fa fa-plus" aria-hidden="true"></i>
</a>
  </div>
  <div class="form-group">
    <h2 class="mb-4 pt-4 text-center">Reading Lists</h2>
    {% for my_list in reading_list %}
    <div class="pt-1">
      <a class="btn btn-info btn-sm m-1" href="{{ url_for('readinglists.edit_list', list_id=my_list.id) }}"><i class="fa fa-pencil-square-o " aria-hidden="true"></i></a>
      <a class="article-title book-links font-weight-bold ml-3" href="{{ url_for('readinglists.one_list', list_id=my_list.id) }}">{{ my_list.ListName }}</a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
