{% extends "base.html" %} {% block content %}
<div class="container bg-light mt-3 mb-2 pb-2">
  <div class="form-group">
    <a class="btn btn-success mt-2 btn-sm float-right" href="{{ url_for('main.index') }}"><i class="fa fa-book-medical" aria-hidden="true"></i></a>
    <a class="btn btn-danger btn-sm m-2 " href="{{ url_for('readinglists.delete_list', list_id=reading_list.id) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
  </div>
  <div class="form-group">
      <h3 class="mb-4 pt-2 text-center"> Books : </h3>
      {% for book in reading_list.books_in_list %}
      <pre class="bg-warning"><a class="btn btn-danger mr-1 btn-sm " href="{{ url_for('readinglists.delete_book_in_list', list_id=reading_list.id, book_id=book.isbn) }}"><i class="fa fa-minus" aria-hidden="true"></i></a><a class="text-dark" href="{{ url_for('books.book', book_isbn=book.isbn) }}">{{ book.title }}</a></pre>
      {% endfor %}
  </div>
</div>
{% endblock content %}
