<!-- Category Add-->
<div class="modal-modal fade" id="catModal" tabindex="-1" role="dialog" aria-labelledby="catModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" id="loginModalLabel">Add Category</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-handler">
                    <form class="text-left border border-light p-5" method="POST" action="{{ url_for('categories.add_category') }}">
                        {{ form_cat.hidden_tag() }}
                        <div class="form-group">
                            <span class="input-group-addon"><i class="fa fa-archive " aria-hidden="true"></i></span> {{ form_cat.Name.label(class="form-control-label") }}
                            <div class="input-group">
                                {% if form_cat.Name.errors %} {{ form_cat.Name(class="form-control form-control-lg is-invalid") }}

                                <div class="invalid-feedback">
                                    {% for error in form_cat.Name.errors %}
                                    <span class="text-danger">
                        {{ error }}
                        </span> {% endfor %}
                                </div>
                            </div>
                            {% else %} {{ form_cat.Name(class="form-control mb-4") }} {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form_cat.submit(class="btn btn-info btn-block") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category Edit-->
<div class="modal fade" id="catEditModal" tabindex="-1" role="dialog" aria-labelledby="catModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" id="loginModalLabel">Edit Category</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-handler">
                    <form class="text-left border border-light p-5" method="POST" action="{{ url_for('categories.add_category') }}">
                        {{ form_cat.hidden_tag() }}
                        <div class="form-group">
                            <span class="input-group-addon"><i class="fa fa-archive " aria-hidden="true"></i></span> {{ form_cat.Name.label(class="form-control-label") }}
                            <div class="input-group">
                                {% if form_cat.Name.errors %} {{ form_cat.Name(class="form-control form-control-lg is-invalid") }}

                                <div class="invalid-feedback">
                                    {% for error in form_cat.Name.errors %}
                                    <span class="text-danger">
                        {{ error }}
                        </span> {% endfor %}
                                </div>
                            </div>
                            {% else %} {{ form_cat.Name(class="form-control mb-4") }} {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form_cat.submit(class="btn btn-info btn-block") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Publisher add -->
<div class="modal fade" id="publisherModal" tabindex="-1" role="dialog" aria-labelledby="publisherModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" id="loginModalLabel">Add Publisher</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-handler">
                    <form class="text-left border border-light p-5" method="POST" action="{{ url_for('publishers.add_publisher') }}">
                        {{ form.hidden_tag() }}
                        <p class="item-intro text-muted text-center">Please add book publisher name.</p>
                        <div class="form-group">
                            <span class="input-group-addon"><i class="fa fa-print" aria-hidden="true"></i></span> {{ form_publisher.Name.label(class="form-control-label") }}
                            <div class="input-group">
                                {% if form_publisher.Name.errors %} {{ form_publisher.Name(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_publisher.Name.errors %}
                                    <span class="text-danger">
                        {{ error }}
                        </span> {% endfor %}
                                </div>
                            </div>
                            {% else %} {{ form_publisher.Name(class="form-control mb-4") }} {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form_publisher.submit(class="btn btn-info btn-block") }}
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
