{% extends "base.html" %} {% block content %}
<div>
<h2>Reading Lists</h2>
{% for l in readinglists %}
<div>
        <p>{{ l.id }} : {{ l.ListName }} -> {{ l.user.name }} 
        <p>
            Books :
        {% for books in l.books_in_list %}
            <pre>{{ books.title }}</pre>
        {% endfor %}
        </p>
        </p>
</div>
    {% endfor %}
</div>
<hr>
<div class="form-handler">
    <h2>User account </h2>
    <hr>
    <p><span class="fa fa-user " style="width:50px;"></span>First Name: {{ current_user.name}}</p>
    <p><span class="fa fa-id-badge " style="width:50px;"></span>Username: {{ current_user.username }}</p>
    <hr>
   <ul><span>Reading Lists: </span>
     {% for list in readinglists %}
        {% if list.UserId == current_user.id %}
    <li><a class="article-title" href="{{ url_for('reading_list', list_id=list.id) }}">{{ list.ListName }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
     <a class="btn btn-default " href="{{ url_for('add_readinglist') }}">Add List</a>
</div>
<div class="form-handler">
    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        <fieldsets>
            <h2>Account Info</h2>
            <hr>
            <div class="form-group">
                {{ form.name.label(class="form-control-label" ) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span> 
                    {% if form.name.errors %} 
                    {{ form.name(class="form-control form-control-lg is-invalid" ) }}
                </div>
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span class="text-danger"> 
                    {{ error }}</span> 
                    {% endfor %}
                </div>
                {% else %} 
                {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-id-badge"></i></span> 
                    {% if form.username.errors %} 
                    {{ form.username(class="form-control form-control-lg is-invalid ") }}
                </div>
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span class="text-danger"> 
                    {{ error }}</span> 
                    {% endfor %}
                </div>
                {% else %} 
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <br>
        </fieldsets>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary btn-block") }}
        </div>
    </form>
</div>

{% endblock content %}
