{% extends "base.html" %} {% block content %}
<div class="form-handler">
    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        <fieldsets class="form-group">
            <h2 class="text-center">{{ legend }}</h2>
            <p>Please add book cover full link address.</p>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span> 
                    {% if form.title.errors %} 
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                </div>
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                    <span class="text-danger">
                        {{ error }}
                        </span> 
                        {% endfor %}
                </div>
                {% else %} 
                {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <br>
             <div class="form-group">
                {{ form.year.label(class="form-control-label") }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span> 
                    {% if form.year.errors %} 
                    {{ form.year(class="form-control form-control-lg is-invalid") }}
                </div>
                <div class="invalid-feedback">
                    {% for error in form.year.errors %}
                    <span class="text-danger">
                        {{ error }}
                        </span> 
                        {% endfor %}
                </div>
                {% else %} 
                {{ form.year(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <br>
            <div class="form-group">
                {{ form.book_cover.label(class="form-control-label") }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span> 
                    {% if form.book_cover.errors %} 
                    {{ form.book_cover(class="form-control form-control-lg is-invalid") }}
                </div>
                <div class="invalid-feedback">
                    {% for error in form.book_cover.errors %}
                    <span class="text-danger">
                        {{ error }}
                        </span> 
                        {% endfor %}
                </div>
                {% else %} 
                {{ form.book_cover(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <br>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span> 
                    {% if form.description.errors %} 
                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                </div>
                <div class="invalid-feedback">
                    {% for error in form.description.errors %}
                    <span class="text-danger">
                        {{ error }}
                        </span> 
                        {% endfor %}
                </div>
                {% else %} 
                {{ form.description(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <br>
            <!-- List of book categories -->
            <div class="form-group">
                {{ form.category.label(class="form-control-label") }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span> 
                {{ form.category(class=" ") }}
            </div>
            <br>
             <!-- List of book publishers -->
            <div class="form-group">
                {{ form.publisher.label(class="form-control-label") }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span> 
                {{ form.publisher (class=" ") }}
            </div>
            <br>
        </fieldsets>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary btn-block") }}
        </div>
    </form>
</div>

{% endblock content %}
