{% extends "base.html" %} 
{% block content %}
<h2>Book Authors</h2>
{% for a in authors %}
<div>
    <p>{{ a.AuthorId }} : {{ a.full_name }}</p>
</div>
{% endfor %} 

<hr>
<h2>Caregories</h2>
{% for c in categories %}
<div>
        <p>{{ c.CategoryId }} : {{ c.Name }} -> books :
        {% for books in c.book %}
                <pre>{{ books.title }}</pre> 
            {% endfor %}</p>
</div>
    {% endfor %}
<h2>Books</h2>
{% for b in books %}
<div>
    <br>
        <p>{{ b.isbn }} : <a class="article-title" href="{{ url_for('book', book_isbn=b.isbn) }}">{{ b.title }}</a> -> {{ b.year }} -> {{ b.publisher.Name }} -> {{ b.category.Name }} </p>
        <p>{{ b.description }}</p>
        <hr>
        <p>
            Authors :
        {% for author_list in b.authors %}
            <pre>{{ author_list.full_name }}</pre>
        {% endfor %}
        </p>
        <hr>
        <img src="{{ b.book_cover }}" alt="Book Cover" style="width:100px;height:150px;">
</div>
    {% endfor %}
{% endblock content %}
