{% extends "base.html" %} {% block content %}
<div class="form-handler">
    <form method="post" action="" class="was-validation">
        {{ form.hidden_tag() }}
        <fieldsets>
            <h2>Register Your Account</h2>
            <p>Please fill in this form to create an account!</p>
            <hr>
            <div class="form-group">
                {{ form.name.label(class="form-control-label" ) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span> 
                    {% if form.name.errors %} 
                    {{ form.name(class="form-control form-control-lg is-invalid" ) }}
                </div>
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span class="text-danger"> {{ error }}</span> 
                    {% endfor %}
                </div>
                {% else %} 
                {{ form.name(class="form-control form-control-lg") }} 
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-id-badge"></i></span> 
                    {% if form.username.errors %} 
                    {{ form.username(class="form-control form-control-lg is-invalid ") }}
                </div>
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span class="text-danger"> {{ error }}</span> 
                    {% endfor %}
                </div>
                {% else %} 
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    {% if form.password.errors %} 
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                </div>
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span class="text-danger"> {{ error }}</span> 
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }} 
                {% endif %}
            </div>
        </fieldsets>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary btn-block") }}
        </div>
    </form>
</div>
<div class="text-center">
    <small>
           Already have an account? <a href="{{ url_for('login') }}">Login here</a>
        </small>
</div>
{% endblock content %}
